{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Compression Add Page{% endblock %}


{% block content %}


<div class="row">
  <div class="sideRclaimSteps" style="background-color: white;">
  </div>

  <div class="middleclaimSteps" >
      
  <form action=""  method="POST">
    <h4 style="margin-top:10px ;color:white;">Compression</h4>
    <hr>
    
      {% csrf_token %}
      {{ form | crispy }}

    <input class="btn  mt-2  mb-3 " type="submit" value="Ajouter">
          
  </form>  
 
  </div>

  <div class="sideLclaimSteps" style="background-color: white;" >
      

  </div>
  
      
</div>

{% endblock %}